@media (max-width:768px) {
    *{
        margin: 0;
    }
    .div3{
        display: flex;
        flex-direction: column;
        width: 347px;
        margin-left: 10px;
    }
    .p1{
        font-size: 35px;
    }
    .div6{
        margin-top: 10px;
    }
    .img2{
        margin-top: 10px;
    }
    .img111{
        display: block;
        position: absolute; 
        width: 420px;
        z-index: 1;
        left: 20px;
        
    }
    .img2{
        display: none;
    }
    .div4{
        position: relative;
        bottom: 100px;
        right: 30px;
        margin-top: 400px;
        z-index: 2;
        width: 350px;
    }
    .img1{
        display: none;
    }
    .div5{
        position: relative;
        z-index: 2;
        bottom: 100px;
        right: 30px;
    }
    .p2{
        padding: 30px 80px;
        font-size: 15px;
    }
    .img222{
        width: 60px;
    }
    .div7{
        position: relative;
        z-index: 1;
        top: 20px;
        width: 330px;
    }

    .p3{
        font-size: 20px;
    }

    .img3{
        margin-left: 0px;
        width: 200px;
        margin-top: 20px;
    }
    .p4{
        font-size: 10px;
    }
    .div12{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        gap: 10px;
    }
    .div15{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .aa1{
        width: 200px;
    }
    .div16{
        display: flex;
        flex-direction: column;
        padding: 20px;
        justify-content: start;
        width: 350px;
        text-align: center;
    }
    .div18{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .div19{
        display: flex;
        flex-direction: column;
        width: 350px;
        margin-left: 10;
        text-align: start;
    }
    .img5{
        margin-left: 10px;
        width: 160px;
    }
    .p15{
        font-size: 20px;
    }
    .div9{
        width: 350px;
    }
    .div11{
        width: 350px;
    }
    .div14{
        width: 350px;
    }
    .p14{
        margin-left: 10px;
    }
    .p13{
        margin-left: 10px;
    }
    .p18{
        margin-left: 10px;
    }
    .img4{
        width: 160px;
    }
}
